/*$color_fondo:black;
$color_segundario:rgba(241, 7, 7, 1);*/

$color_border:1px solid white;
$color_letra:white;

$color_fondos:(             /**************USO DEL MAP***************************************/                 
    "primario":black,
    "segundario":rgba(241, 7, 7, 1)
);



body{
    background: map-get($color_fondos,primario);
}



.content-1,.content-2,.content-4,nav{
    border: $color_border;
}


.content-4{
    background: map-get($color_fondos,primario);
}

.logoLetras{
    color: $color_letra;
}

nav ul{
    li{
        a{
            color: #fff;
        }
    }
}


nav ul li a{
    &:hover{
        background:map-get($color_fondos,segundario);
    }
}

nav{
    background: map-get($color_fondos,primario);
}

h1{
    color: $color_letra;
}

main p{
    color: rgb(211, 198, 198);
}

.content-1 img,.content-2 img,.content-3 img{
    border: 2px solid white;
}


.content-1{
    color: $color_letra;
    background: map-get($color_fondos,primario);
}

.content-2{             /***************************USO DEL EXTEND****************************************/
    @extend .content-1;
    :hover{
        color: map-get($color_fondos,segundario);
        text-transform: uppercase;
    }
}



.content-3__1,.content-3__2,.content-3__3,.art-content-1,.art-content-2{
    background: map-get($color_fondos,primario);
}


.art-content-1{
    @extend .content-3__1;
    :hover{
        text-decoration-line: line-through;
    }
    
    
}



.content-4__text{
    color: $color_letra;
}

.content-4 img{
    border: $color_border;
}


footer{
    color: $color_letra;
    background: map-get($color_fondos,primario);
}

.redes a i{
    color:map-get($color_fondos,segundario);
    &:hover{
        color: $color_letra;
    }
}


.content-1 h3,.content-2 h3,.content-3 h3{
    color:map-get($color_fondos,segundario);
}


input,textarea{
    border: $color_border;
    color: $color_letra;
}

label{
    color: $color_letra;
}

button{
    border: $color_border;
}



