$padding_content:10px;









.grid-container{
    height: 200vh;
}

main{
    height: 90vh;
}

.content-1{
    padding: $padding_content;
}
.content-2{
    padding: $padding_content;
}
.content-3{
    padding: $padding_content;
}

.logoLetras{
    padding: $padding_content;
    height: 80px;
}

nav ul{
    float: right;
    padding: 0;
    margin: 0;
}


nav ul{
    li{
        a{
            padding: 12px 30px;
        }
    }
}

nav ul li a{
    &:hover{
        border-radius: 6px;
    }
}



nav{
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.logo{
    height: auto;
}


.content-3__1,.content-3__2,.content-3__3,.art-content-1,.art-content-2{
    margin: 10vh 16px 10vh 16px;
    margin-right: 16px;
}

.content-4__text{
    margin-left: 20px;
    margin-right: 20px;
}

.content-4 img{
    margin: 10vh 16px 10vh 16px;
}

footer h5{
    margin-left: 10px;
}

.formulario{
    width: 100%;
    height: 90vh;
}


form{
    width: 90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
}


input,textarea{
    width:100%;
    padding: $padding_content;
}

label{
    height: 100%;
}

button{
    padding: 10px 0;
    width: 100%;
}

footer .redes{
    margin-right: 30px;
}