$tipo_principal:'IBM Plex Serif', serif;




body{
    font-family: $tipo_principal;
}

.logoLetras{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul{
    li{
        a{
            line-height: 80px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

h1{
    margin-left: 20px;
    font-size: 60px;
    font-weight: bolder ;
}

main p{
    margin-left: 20px;
    font-size: 30px;
}

.content-3__1,.content-3__2,.content-3__3,.art-content-1,.art-content-2{
    text-align: center;
}

.content-4__text{
    text-align: justify;
    font-size: 26px;
}

.redes a i{
    font-size: 50px;
}

footer h5{
    font-size: 15px;
}

input,textarea{
    font-size: 15px;
}


input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
    font-size: 14px;
}

footer .redes{
    font-size: 36px;
    letter-spacing: 10px;
    text-transform: uppercase;
}




